@media screen and (max-width: 1199px) {
    .ja-logo{
        width: 120px !important;
    }    

}


@media screen and (max-width: 1091px) {
    .ja-logo{
        width: 100px !important;
    }

 
    .small-heading {
        font-size: 25px;
    }

    .small-paragraph{
        font-size: 12px ;
    }

    
}

@media screen and (max-width: 991px) {
    .ja-logo{
        width: 90px !important;
    }

    .card-body{
        height: 300px;
    }
    
}

@media screen and (max-width: 767px) {
   .ja-logo{
    width: 80px !important;
   }
    .college-section-1 .small-heading{
        font-size: 20px;
    }

   
    
}

@media screen and (max-width: 575px) {
        .helpline-no{
            background-color: transparent;
            gap: 20px !important;
        }
        .helpline-no-1{
            padding: 0px !important;
        }

        .ja-logo{
            width: 60px !important;
        }

        .cource-card .small-heading{
            font-size: 20px;
        }

         .college-section-1 .small-heading{
        font-size: 18px;
    }
    .sub-heading{
        font-size: 25px;
    }


       
}